.container {
  display: block;
  overflow-x: auto;
  padding: 15px;
  width: 100%;
  line-height: 20px;
  font-size: 16px;

  pre {
    overflow: hidden;
    word-break: break-word;
    white-space: break-spaces;
  }
}

@media (max-width: 750px) {
  .container {
    font-size: 14px;
  }
}
