.slider {
  position: absolute;
  bottom: 0;
  box-sizing: content-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff3179;
  border-radius: 1px;
  height: 3px;
  color: #fff;
  box-shadow: 0 0 25px #c2255c;
  background-color: #ff3179;
  transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out, background-color .3s ease-in-out;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
